.f1-drivers_section {
    padding: 40px 0;
}

.f1-drivers_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    color: var(--white-color);
}

.f1-driver-card {
    cursor: pointer;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    width: 420px;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('./img/background-pattern.png');
    background-size: cover;
    background-position: center;
    height: 250px;
    overflow-y: hidden;
}

.f1-driver-imgs img {
    max-width: 220px;
    object-fit: cover;
    object-position: top;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.f1-driver_title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--white-color);
}

.f1-driver-name {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: start;
}

.f1-driver-lastname {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: start;
}

.f1-driver-team {
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 10px;
}

.f1-driver-card span {
    font-size: 1.8rem;
    font-weight: 900;
    margin-top: 6px;
}

.f1-driver-team-number {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.f1-drivers_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.f1-drivers_header input {
    position: relative;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

.f1-driver_search-wrapper {
    position: relative;
}

.f1-driver_clear {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-58%);
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--gray-color);
}

.f1-driver_search-icon {
    font-size: 1.2rem;
    color: var(--gray-color);
    margin-right: 10px;
}