
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";


@theme {
  --breakpoint-tort: 413px;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}



.select-container {
  /* O'lchamlar */
  width: 115px;
  height: 40px;
  border:  2px solid #fff;
  border-radius: 20px;
  margin-left: 60px;
  
  /* Tekislash (Yonma-yon va o'rtada) */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  
  /* Standart stillar */
  background-color: #000; /* Dastlabki to'q kulrang fon */
  color: #ffffff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  outline: none; /* Standart ko'k ramkani o'chirish */

}


/* BOSILGANDA (Fokus bo'lganda) ORQA FON QORA BO'LISHI */
.select-container:focus,
.select-container:active {
  background-color: #000000; /* Mutloq qora fon */
  color: #ffffff;            /* Matn oq holatda qoladi */
  border: 2px solid #334155; /* Qora fonda yo'qolib qolmasligi uchun ingichka chegara (ixtiyoriy) */
}

/* Strelka o'lchami */
.select-arrow {
  width: 12px;
  height: 12px;
  display: block;
}

.orta{
    margin-top: 100px;
    padding-right: 60px;
    padding-left: 60px;
}
.past{
    margin-top: 70px;
}
.a2{
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
margin-top: -40px;
color: #fff;

}
.w1{
    width: 310px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm1.png") no-repeat center/cover;
}
.w2{
    width: 561px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm2.png") no-repeat center/cover;
}
.w3{
    width: 310px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm3.png") no-repeat center/cover;
}
.w4{
    width: 322px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm4.png") no-repeat center/cover;
}




/* 2 */

.main{
    margin-top: 300px;
}
.v{
    transition: all 1s;
}
.v:hover{
    background-color: #E10600;
  transform: scale(1.05);   
}
.f{
    margin-left: 7px;
}
.t{
    margin-top: 7px;
}
.z{
    margin-top: 80px;
}
.n{
    margin-left: 20px;
}
.cardlar1{
    margin-top  : 62px;
}
.rasm1{
    margin-left: 15px;
}
.ong{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-family: inter;
    border-radius: 4px;
}
.card2{
    padding-right: 20px;
    
}
.avstraliya{
    margin-top: 21px;
}
.text{
    color: #9D0400;
    font-family: inter;
font-weight: 700;
font-style: Bold;
font-size: 14px;
leading-trim: NONE;

line-height: 30px;
letter-spacing: 0%;
vertical-align: middle;
margin-right: 20px;
}
.el{
    font-size: 20px;
    font-family: inter;
    font-weight: bold;
    text-align: center;
}
.right1{
    margin-top: -60px;
    margin-right: 10px;
}
.mn{
    margin-top: 25px;
}
.az{
    margin-top: 90px;
}
.cc{
    width: 95%;
    height: 2px;
    background: red;
    margin-top: 30px;
}


/* 3 */
.left{
    padding-left: 45px;
    padding-right: 45px;
}
.imglar{
    margin-top: 30px;
}
.p{
    margin-top: 35px;
}
.box12{
    width: 100%;
    height: 238px;
    background: #303037;
    padding: 1px;
}
.yaqin{
    margin-top: 50px;
}
.top{
    margin-top: 50px;
}
.item{
    padding-top: 60px;
}
.box333{
    width: 1550px;
    height: 364px;
    /* padding-right: 60px;
    padding-left: 75px; */
    margin: auto;
}

.tepa33{
    margin-top: 45px;

     
}

.orta101{
    margin-top: 60px;
}
.nom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}







