@import "tailwindcss";

.Trassa_select{
    width: 115.08999633789062px;
height: 44px;
top: 64px;
left: 152.5px;
font-size: 17px;
opacity: 1;
border-radius: 1000px;
border-width: 2px;
border: 2px solid  #fff;
color: #fff;
text-align: center;
background: #000;

}
.orta{
    margin-top: 100px;
    padding-right: 60px;
    padding-left: 60px;
}
.past{
    margin-top: 70px;
}
.a2{
    font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 20px;
leading-trim: NONE;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
margin-top: -40px;
color: #fff;

}
.w1{
    width: 312px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm1.png") no-repeat center/cover;
}
.w2{
    width: 571px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm2.png") no-repeat center/cover;
}
.w3{
    width: 312px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm3.png") no-repeat center/cover;
}
.w4{
    width: 332px;   
    height: 312px;
    border-radius: 8px;
    background: url("/public/icon/rasm4.png") no-repeat center/cover;
}