header {
    background-color: var(--background-color);
}

.header_p {
    font-family: Rubik;
}

.header_nav {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 15%;
}

.header_one {
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    color: #FFF;
}

.logo {
    width: 120px;
    height: 33px;
}

.navbar_p {
    text-decoration: none;
    color: var(--white-color);
    font-family: Rubik;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navbar_p.active {
    color: var(--primary-color);
}

.header_two {
    height: 73px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.tv {
    width: 140px;
    height: 20px;
}

.header_btn1 {
    width: 100px;
    color: #fff;
    border-radius: 10px;
    height: 30px;
    border: none;
    background-color: black;
}

.header_btn2 {
    width: 130px;
    color: #fff;
    border-radius: 10px;
    height: 30px;
    border: none;
    background-color: #E10600;
}

.header_nav2 {
    display: flex;
    gap: 60px;
}

.fifa {
    margin-left: 10%;
}

.header-nav_flex {
    display: flex;
    align-items: center;
    gap: 20px;
}