:root {
  --primary-color: #e10600;
  --secondary-color: #000000;
  --background-color: #15151e;

  --white-color: #ffffff;
  --text-color: #333333;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
  background-color: #000000;
}

.container {
  max-width: 1740px;
  margin: 0 auto;
}